*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}
.container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
    max-width: 80%;
}
.btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: #7a43b6;
}